* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
  padding: 35px 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
  
  

.name {
    padding-top: 35px;
    color: darkblue;
  }
}
.data{
  padding: 25px;
}


.title{
  font-size: 35px;
  padding: 25px 0;
  color: rgb(51, 50, 50);
}
.content{
  font-size: 25px;
  color: rgb(78, 74, 74);
  border-bottom: 5px solid rgb(204, 189, 189);
}
